/* Acá va tu código */
body {
    /*background-color: #f7ad0e;*/
    background-image: url('https://images6.alphacoders.com/352/thumb-1920-352115.jpg');

  }
  #root{

    right:center;
    color: blanchedalmond;
    border: solid;
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-left: 01%;
    margin: 100px auto;
    width: 50%;
  }
  #titulo{
    right: center;
    margin: 10px;
    padding-left: 25%;
    size: 1cm
  }
  #slogan{
    right: center;
    margin: 10px;
    padding-left: 44%;
    size: 1cm
  }
  }
  #one{
    margin: 5px auto;
    width: 40%;
  }
  #third{
    margin:5px auto;
    width: 80%;  
  }
  #slogan{
    margin: 1%;
    width: 40%;

  }
  /*bonones cifrar u decifrar*/
  