/* Acá va tu código */
body {
    /*background-color: #f7ad0e;*/
    background-image: url('https://images6.alphacoders.com/352/thumb-1920-352115.jpg');

  }
  
  #root{

    right:center;
    color: blanchedalmond;
    border: 5px solid ;
    padding-top: 0%;
    padding-right: 10%;
    padding-bottom: 0%;
    padding-left: 01%;
    margin: 100px auto;
    width: 50%;
  }
  #titulo{
    right: center;
    margin: 10px;
    padding-left: 25%;
    size: 1cm;
  }
  #slogan{
    right: center;
    margin: 10px;
    padding-left: 44%;
    size: 1cm;
  }
  .message{
    right: center;
    margin: 8px;
    padding-left: 41%;
    color: blanchedalmond;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.8cm;
    text-align: center;
    
  }
  /*inicio de sesion*/
  #box{
    right:center;
    color: blanchedalmond;
    border-radius: 20px;
    padding-top: 3%;
    padding-right: 1%;
    padding-bottom: 5%;
    padding-left: 25%;
    margin: 100px auto;
    width: 50%;
    background-color: rgba(3,18,32,0.774);
  }
 
  
  #text2{
    right: center;
    margin: 1px;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 0.8cm;
   }

  #one{
    margin: 5px auto;
    width: 40%;
  }
  /*log in*/
  #boton{
    border-radius: 10px;
    padding-right: 1%;
    padding-left: 1%;
    font-size: 0.5cm;
    background-color:rgba(8, 99, 90, 0.767);
    text-align: center;
  }
  .log{
    color: blanchedalmond; 
  }
  /*bonones cifrar u decifrar*/
  #titulo2{
    text-align: center;
    margin: 10px;
    padding-left: 10%;
    size: 1cm;
  }
  .code1{
    right:center;
    color: blanchedalmond;
    border-radius: 20px;
    padding-top: 3%;
    padding-right: 1%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin: 100px auto;
    width: 50%;
    background-color: rgba(22, 73, 69, 0.644);
  }
  .code2{
    right:center;
    color: blanchedalmond;
    border-radius: 20px;
    padding-top: 3%;
    padding-right: 1%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin: 100px auto;
    width: 50%;
    background-color: rgba(158, 228, 213, 0.24);
  }
  #box2{
    background-color: rgba(3,18,32,0.774);
    padding-right: 1%;
    padding-bottom: 5%;
    color: blanchedalmond
  }
 #bienvenida{
  right: center;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 2cm;
    padding-left: 20%;
    padding-right: 0%;
 }
 #cifrar{
  padding-left: 30%;
    padding-right: 30%;
 }
 #resultado1{
  padding-left: 30%;
    padding-right: 13%;
 }
 #descifrar{
  padding-left: 30%;
    padding-right: 25%;
 }
 #resultado2{
  padding-left: 30%;
    padding-right: 13%;
 }
 #fin{
  text-align: center;
  background-color: rgba(21, 207, 231, 0.603);
  padding-left: 15%;
  padding-right: 20%;
  font-family: 'Times New Roman';
  font-size: 80px
 }